version: '3'

services:

  tomcat:
    # Path to Dockerfile, relative to docker-compose file
    image: spring-petclinic:1.1.2
    depends_on:
      - mysql
#    build: .
    networks:
      - petclinic-network
    ports:
      - 8080:8080
    command: ["/usr/local/tomcat/bin//wait-for-it.sh", "mysql:3306", "--", "/usr/local/tomcat/bin/catalina.sh", "run"]
    environment:
      spring.profiles.active: jpa,mysql

  mysql:
    image: mysql:8.0
    networks:
      - petclinic-network
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: petclinic
      MYSQL_USER: petclinic
      MYSQL_PASSWORD: petclinic

networks:
  petclinic-network:
    driver: bridge # a user defined bridge is required; the default bridge network doesn't support name resolution
